@import url('https://fonts.googleapis.com/css2?family=Allison&family=Libre+Bodoni&family=Nabla&display=swap');

body {
    font-family: "Allison";
    background-color: bisque;
}

.boxshadow {
    box-shadow: 25px 25px 15px 10px rgba(0, 0, 0, 0.5);
    text-align: left;
    border-radius: 100px;
    padding: 50px;
    margin: 50x;
    font-size: 50px;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

input {
    font-size: 25px;
}

button {
    font-size: 20px;
    padding: 5px;
    margin: 10px;
}

h1 {
    background-image: url('../images/mrroger.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    font-weight: bolder;
}


.hidden {
    display: none;
}