form {
    box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.5);
    text-align: left;
    border-radius: 20px;

}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}