input {
    box-shadow: 25px 25px 15px 10px rgba(0, 0, 0, 0.5);
    text-align: left;
    border-radius: 100px;
    padding: 20px;
    margin: 25px;
    font-size: large;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}